
:root {
    --primary-color: #335CD7;
    --secondary-color: #002914;
    --accent1-color: #88D18A;
    --accent2-color: #F9E7E7;
    --text-on-bright-bg: #000;
    --body-font: 'Noto Sans', Arial, Helvetica, sans-serif;
    --header-font: 'Gowun Dodum', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--text-on-bright-bg);
}

h1, h2 {
    font-family: var(--header-font);
    color: var(--text-on-bright-bg);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header {
    background-color: var(--primary-color);
    color: var(--text-on-bright-bg);
}

h1 {
    position: absolute;
    width: 100%;
    padding: 16px;
    top: 20px;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    opacity: 0.85;
}

.hero {
    position: relative;
}

.hero article {
    position: absolute;
    top: 90px;
    left: 20px;
    right: 20px;
    background-color: var(--accent2-color);
    opacity: 0.75;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 125px;
}

nav, section, article, p {
    padding: 8px;
    margin: 16px;
}

.socialmedia {
    margin: 0;
}

.socialmedia a {
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
}

.socialmedia img {
    width: 40px;
    height: auto;
    transition: transform 0.3s ease;
}

.socialmedia img:hover {
    transform: scale(1.1);
}

footer {
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    text-align: center;
}
