:root {
    --main-background-color: #556b2f;
    --main-text-background-color: #f5f5dc;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: var(--main-background-color);
    /* verde oliva oscuro */
    padding: 10px;
}

a {
    color: var(--main-text-background-color);
    /* beige claro*/
    display: block;
    padding: 20px;
}

h1 {
    color: #247;

}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin: 1rem 0 1rem 1rem;
}

p {
    padding: 10px;
    text-align: justify;
    margin: 10px;
}

main {
    max-width: 600px;
}

aside { 
    text-align: center;
    position: relative;
}

aside img {
    width: 20rem;
    height: auto;
    margin-left: 10px;
}

aside h2 {
    position: absolute;
    left:50%;
    transform: translateX(-50%);
}

footer {
    text-align: center;
    margin-top: 50px;
    border-top: #070303 dotted;
    width: 600px;
}

header {
    width: 48vw;
}

li {
    margin-left: 1rem;
}


/*Class Selectors*/

.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #070303;
    background-color: var(--main-background-color);
    color: var(--main-text-background-color);
    width: 47vw;
}

.indent {
    padding-left: 1rem;
}