:root {
    --main-background-color: #556b2f;
    --main-text-color: #fff;
    --primary-color: #335CD7;
    --secondary-color: #002914;
    --accent1-color: #88D18A;
    --accent2-color: #F9E7E7;
    --text-dark: #000;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Gowun Dodum', sans-serif;
}

body, p {
    font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer, .grid {
    max-width: 840px;
    margin: 0 auto;
}

header{
    color: var(--main-text-color);
    background-color: var(--main-background-color);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    align-items: start;
}

nav {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

nav a, nav a:visited {
    background-color: transparent;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 8px;
    background-color: var(--accent1-color);
    color: var(--text-dark);
    border: 2px solid var(--accent1-color);
}

nav a:hover {

    background-color: var(--accent2-color);
    transform: scale(1.05);
}


a, a:visited {
    /* color: inherit;  */
    line-height: 1.5rem;
    text-decoration: none;
}

main {
    grid-column: 2 / 3;
}

h1 {
    color: #247;
    border-bottom: 1px dotted #070303;
    margin-bottom: 1rem;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin: 1rem 0 1rem 1rem;
}

p {
    padding: 10px;
    text-align: justify;
    margin: 10px 0;
}

aside {
    text-align: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    position: relative;
}

aside img {
    width: 100%;
    max-width: 20rem;
    height: auto;
    margin: 1rem auto;
}

aside h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

footer {
    text-align: center;
    margin-top: 50px;
    border-top: 1px dotted #070303;
    padding: 1rem 0;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    margin-left: 1rem;
}

li a {
    color: var(--text-light);
}

/* Utility Classes */
.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #070303;
    background-color: var(--main-background-color);
    color: var(--main-text-color);
}

.indent {
    padding-left: 1rem;
}
